/*Para abarcar toda la pantalla por mas que no esté completa la pag*/
html, body {
    height: 100%;
}
/*Para alinear todos los elementos "body" en forma de columna asi se alinean uno debajo de la otra*/
body {
    background: linear-gradient(150deg, #c39bd3, #7dcea0);
}
h1  {
    text-align: center;
}
.access-form {
    text-align: center;
}
